---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollo de código UI de aplicación en Tailwind CSS",
    description: "Acceso a más de 20 páginas, incluyendo un diseño de panel, gráficos, tablero Kanban, calendario y páginas pre-pedido de comercio electrónico y marketing.",
    link: "https://github.com/rody-huancas/astro-portfolio-dev"
  },
  {
    date: "Mayo 2023",
    title: "Utilización de componentes de Tailwind UI",
    description: "Aprovechamiento de la biblioteca de componentes Tailwind UI para construir rápidamente una interfaz de usuario. Esta biblioteca proporciona componentes pre-construidos como botones, formularios y elementos de navegación, acelerando el proceso de desarrollo y manteniendo la consistencia del diseño.",
    link: ""
  },
  {
    date: "Agosto 2023",
    title: "Personalización de Tailwind CSS o desarrollo de plugins",
    description: "Personalización de la funcionalidad por defecto de Tailwind CSS mediante la creación de un plugin personalizado para selectores de fecha avanzados. Este plugin se integra perfectamente con las clases de utilidad de Tailwind, mejorando la interactividad de la interfaz de usuario.",
    link: ""
  }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }

</ol>
