<footer class="pb-10 w-full text-center">
    <a href="https://github.com/rody-huancas" target="_blank" rel="noferrer" class="font-semibold underline">Rody Huancas</a> | Todos los derechos reservados
</footer>